<!DOCTYPE html>
<html>
  <head>
    <title>Eigofriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Link for icon kit -->
    <script src="https://kit.fontawesome.com/a3e7248eaa.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <div class="container-fluid">
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
